@font-face {
    font-family: 'PacFont';
    src: url('../assets/fonts/PacFont.woff2') format('woff2'),
        url('../assets/fonts/PacFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PacFont Good';
    src: url('../assets/fonts/PacFontGood.woff2') format('woff2'),
        url('../assets/fonts/PacFontGood.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pathway Gothic One Regular';
    src: url('../assets/fonts/PathwayGothicOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

html {
    height: 100vh;
    font-size: 10px;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.main_menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: black;
}

.main_menu_bg {
    width: 100%;
    height: 100%;
    background: url('../assets/img/arcade-bg.png') no-repeat;
    background-size: cover;
    position: inherit;
    top: inherit;
    left: inherit;
    right: inherit;
    bottom: inherit;
    z-index: 999;
    pointer-events: none;
}

.main_menu .ghost .img_ghost,
.main_menu .pacman .img_pacman {
    position: absolute;
}

.main_menu .pacman .img_pacman {
    height: 40rem;
    left: 20rem;
    top: 15rem;
}


.main_menu .ghost .img_ghost {
    height: 40rem;
    right: 18rem;
    top: 14rem;
}

.main_menu .ghost .img_pupil {
    height: 6rem;
    position: absolute;
    right: 35rem;
    top: 28rem;
}

.main_menu_container {
    margin-top: 3rem;
    display: inherit;
    flex-direction: column;
}

.main_menu_container .game_title  {
    font-family: 'PacFontGood', system-ui, -apple-system, sans-serif;
    font-size: 8rem;
    color: white;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    cursor: default;
}

.main_menu_container .menu_controls {
    display: inherit;
    flex-direction: inherit;
    margin-top: 5rem;
}

.main_menu_container .menu_controls > .play_button, .help_button, .credits_button {
    font-family: 'PacFont', system-ui, -apple-system, sans-serif;
    color: white;
    border: 0;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
}

.main_menu_container .menu_controls .play_button {
    font-size: 5rem;
    animation: blink 1s linear infinite;
}

.main_menu_container .menu_controls .help_button, .credits_button {
    font-size: 3rem;
    margin-top: 2rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    backdrop-filter: blur(5px);
}

.modal_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help {
    position: relative;
}

.modal_container .help .close_button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.credits {
    /* Flexbox to center the entire element on the screen */
    display: flex;
    justify-content: center;
    /* This is a magic number based on the context in which this snippet is used and effects the perspective */
    height: 100%;
    /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
    perspective: 60rem;
    /* The rest is totally up to personal styling preferences */
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 10rem;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
    pointer-events: none;
  }

  .crawl {
    /* Position the element so we can adjust the top property in the animation */
    position: relative;
    /* Defines the skew origin at the very center when we apply transforms on the animation */
    transform-origin: 50% 100%;
    /* Adds the crawl animation, which plays for one minute */
  }

  .crawl-animation {
    animation: crawl 30s linear;
  }

  .fade {
    position: absolute;
    width: 100%;
    min-height: 20vh;
    background-image: linear-gradient(0deg, transparent, #000 75%);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50rem;
    content: '';
    display: block;
    pointer-events: none;
  }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


  /* ---------- ANIMATION ---------- */

  /* Menu */
  @keyframes blink{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }

  /* For credits menu */
@keyframes crawl {
    0% {
      /* The element starts below the screen */
      top: 0;
      /* Rotate the text 20 degrees but keep it close to the viewer */
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
      top: -8000px;
      /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }